# Node modules
client/node_modules
admin/node_modules
api/node_modules
genToken/node_modules

# Next caches
client/.next
admin/.next

# Build caches
client/build
admin/build
challenges/__pycache__
challenges/level_11/build/__pycache__
challenges/level_7/build/__pycache__
challenges/level_16/build/__pycache__
challenges/level_10/build/__pycache__